import { Table, TableBody, TableCell, TableContainer, TableHead, TableRow, Paper, Button} from '@mui/material'
import { useDispatch, useSelector } from "react-redux";
import { useEffect, Fragment } from "react";
import { toTitleCase } from "../../utils/string";
import { add{{pascalCase name}}, closeDialog, update{{pascalCase name}} } from "../../../components/{{titleCase name}}/action";
import DialogForm from "../../common/components/DialogForm";
import fields from "./tableFields";
const Form = ({ fields, defaultFieldValues, dialog }: Form) => {
  const dispatch = useDispatch();
  const [fieldValues, setFieldValues] = useState(defaultFieldValues);
  const handleSave = () => {
    if(fieldValues.hasOwnProperty("_id")) return dispatch(update{{pascalCase name}}(fieldValues))
    dispatch(add{{pascalCase name}}(fieldValues));
  };

  useEffect(() => {
    setFieldValues(defaultFieldValues);
  }, [defaultFieldValues]);
  return (
    <Fragment>
      <Dialog
        open={dialog}
        onClose={() => dispatch(closeDialog())}
        aria-labelledby="alert-dialog-title"
        aria-describedby="alert-dialog-description"
      >
        <DialogTitle id="alert-dialog-title">Add {{titleCase name}}</DialogTitle>
        <DialogContent>
          {fields.map(({ key }: Field) => {
            return (
              <FormControl sx={{ m: 1, width: "25ch" }} variant="outlined">
                <OutlinedInput
                  id="outlined-adornment-weight"
                  aria-describedby="outlined-weight-helper-text"
                  inputProps={{
                    "aria-label": "weight",
                  }}
                  value={fieldValues[key]}
                  placeholder={toTitleCase(key)}
                  onChange={(event: any) => {
                    setFieldValues({
                      ...fieldValues,
                      ...{ [key]: event.target.value },
                    });
                  }}
                />
              </FormControl>
            );
          })}
          <DialogContentText id="alert-dialog-description"></DialogContentText>
        </DialogContent>
        <DialogActions>
          <Button onClick={() => dispatch(closeDialog())}>Cancel</Button>
          <Button onClick={handleSave} autoFocus>
            Save
          </Button>
        </DialogActions>
      </Dialog>
    </Fragment>
  );
};

export default Form;