import Table from '@mui/material/Table';
import TableBody from '@mui/material/TableBody';
import TableCell from '@mui/material/TableCell';
import TableContainer from '@mui/material/TableContainer';
import TableHead from '@mui/material/TableHead';
import TableRow from '@mui/material/TableRow';
import Paper from '@mui/material/Paper';
import { useDispatch, useSelector } from "react-redux";
import { useEffect, Fragment } from 'react';
import { toTitleCase } from '../../utils/string';
import { get{{pascalCase name}}List } from './action'
import fields from './tableFields'
const {{titleCase name}} = () => {
  const dispatch = useDispatch();
  const {{camelCase name}}List = useSelector(
    (state: any) => state.{{snakeCase name}}.{{snakeCase name}}List
  );
   useEffect (()=> {
    dispatch(get{{pascalCase name}}List() );
  },[dispatch])
  return (
    <Fragment>
      <TableContainer component={Paper}>
        <Table>
          <TableHead>
            <TableRow>
              {fields.map(({ key }) => {
                return <TableCell>{toTitleCase(key)}</TableCell>;
              })}
            </TableRow>
          </TableHead>
          <TableBody>
            { {{camelCase name}}List.map(({{camelCase name}}: any) => {
              return (
                <Fragment>
                  <TableRow>
                    {fields.map(({ key }) => {
                      return <TableCell>{ {{camelCase name}}[key] }</TableCell>;
                    })}
                  </TableRow>
                </Fragment>
              );
            })}
          </TableBody>
        </Table>
      </TableContainer>
    </Fragment>
  )
}

export default {{titleCase name}}