import { Table, TableBody, TableCell, TableContainer, TableHead, TableRow, Paper, Button } from "@mui/material";
import FormDialog from "./FormDialog";
import Menu from "../../common/components/Menu";
import { useDispatch, useSelector } from "react-redux";
import { useEffect, Fragment } from "react";
import { toTitleCase } from "../../utils/string";
import fields from "./tableFields";
import { delete{{pascalCase name}}, get{{pascalCase name}}Details, get{{pascalCase name}}List, openDialog } from "./action";
const {{titleCase name}} = () => {
  const dispatch = useDispatch();
  const {{camelCase name}}List = useSelector((state: any) => state.{{camelCase name}}.{{camelCase name}}List);
  const defaultFieldValues = useSelector(
    (state: any) => state.{{camelCase name}}.defaultFieldValues
  );
  const dialog = useSelector((state: any) => state.{{camelCase name}}.dialog);
  useEffect(() => {
    dispatch(get{{pascalCase name}}List());
  }, [dispatch]);
  return (
    <Menu>
      <Button variant="outlined" onClick={()=>dispatch(openDialog())}>New</Button>
      <FormDialog
        fields={fields}
        dialog={dialog}
        defaultFieldValues={defaultFieldValues}
      />
      <TableContainer component={Paper}>
        <Table>
          <TableHead>
            <TableRow>
              {fields.map(({ key }) => {
                return <TableCell>{toTitleCase(key)}</TableCell>;
              })}
            </TableRow>
          </TableHead>
          <TableBody>
            { {{camelCase name}}List.map(({{camelCase name}}: any) => {
              return (
                <Fragment>
                  <TableRow>
                    {fields.map(({ key }) => {
                      return <TableCell>{ {{camelCase name}}[key]}</TableCell>;
                    })}
                    <TableCell>
                      <Button onClick={()=>dispatch(get{{pascalCase name}}Details({{camelCase name}}._id))}>Edit</Button>
                      <Button onClick={()=>dispatch(delete{{pascalCase name}}({{camelCase name}}._id))}>Delete</Button>
                    </TableCell>
                  </TableRow>
                </Fragment>
              );
            })}
          </TableBody>
        </Table>
      </TableContainer>
    </Menu>
  );
};

export default {{titleCase name}};
